<%- include('../partials/_headerAdmin', { title: 'Tambah Minuman', user: user, page_name: page_name }) %>
<h1>Tambah Menu Minuman Baru</h1>
<form action="/admin/drink/add" method="POST">
    <p><label for="name_drink">Nama Minuman:</label><input type="text" id="name_drink" name="name_drink" required></p>
    <p><label for="qty_drink">Stok:</label><input type="number" id="qty_drink" name="qty_drink" required></p>
    <p><label for="price_drink">Harga:</label><input type="number" id="price_drink" name="price_drink" required></p>
    <button type="submit">Simpan</button> <a href="/admin/dashboard">Batal</a>
</form>
<%- include('../partials/_footerAdmin') %>